@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: "Poppins", sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.logo {
  width: 300px; /* Adjust size as needed */
  height: auto; /* Maintain aspect ratio */
}




.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: "Poppins", sans-serif;
}

.card2 {
  font-weight: bold;
  padding: 1em;
  text-align: right;
  color: #181a1a;
  width: 300px;
  height: 400px;
  box-shadow: 0 1px 5px #00000099;
  border-radius: 10px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.8s;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 30px;
  background-image: url(https://images.unsplash.com/photo-1557672199-6e8c8b2b8fff?ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80);
}

.card2:hover {
  transform: rotateY(180deg);
}

.card2 .glow2 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: radial-gradient(circle at 50% -20%, #ffffff22, #0000000f);
}

.content2,
.content2-back {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content2-back {
  transform: rotateY(180deg);
}

.link {
  color: black;
  font-weight: 500;
  text-decoration: none;
  position: relative;
  top: 20px;
  display: inline-block;
  padding: 8px 20px;
  margin-top: 15px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.flip-button {
  color: black;
  font-weight: 500;
  text-decoration: none;
  display: inline-block;
  padding: 8px 20px;
  margin-top: 15px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  border: none;
  position: relative;
  top: 20px;
  left:80px

}

.content2 h2 {
  color: rgba(255, 255, 255, 0.6);
  font-size: 100px;
  position: relative;
  top: -20%;
  left:25%
}
.content2 h3 {
  color: white;
  font-size: 28px;
  position: relative;
  top: 50px;
  left:40px
}

.content2-back h3 {
  color: white;
  font-size: 28px;
  position: relative;
  top: 50px;
  left:40px

}

.content2-back h2 {
  color: rgba(255, 255, 255, 0.6);
  font-size: 100px;
  position: relative;
  top: -13%;
  left:30%
}

.link2 {
  color: black;
  font-weight: 500;
  text-decoration: none;
  position: relative;
  top: 20px;
  display: inline-block;
  padding: 8px 20px;
  margin-top: 15px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.card-link2 {
  text-decoration: none;
}






